experimental_monorepo_root = true

[settings]
experimental = true

[tools]
bun = "latest"
node = "24"
"pipx:persistproc" = "latest"

[tasks."db:push"]
env = { _.file = ".env", DATABASE_URL = "./sqlite/dev.db" }
run = "bunx drizzle-kit push"

[tasks."db:generate"]
env = { _.file = ".env", DATABASE_URL = "./sqlite/dev.db" }
run = "bunx drizzle-kit generate"

[tasks."server:dev"]
dir = "apps/server"
env = { _.file = ".env", DATABASE_URL = "./sqlite/dev.db" }
run = "bun run dev"

[tasks."db:studio"]
env = { _.file = ".env", DATABASE_URL = "./sqlite/dev.db" }
run = "bunx drizzle-kit studio"

[tasks."app:dev"]
dir = "apps/app"
run = "bun run dev"

[tasks."prod:build"]
env = { _.file = ".env", NODE_ENV = "production", DATABASE_URL = "./sqlite/prod.db" }
run = "bun run ./scripts/prod-build.ts"

[tasks."prod:serve"]
dir = "apps/server"
env = { _.file = ".env", NODE_ENV = "production", DATABASE_URL = "./sqlite/prod.db", FRONTEND_ORIGIN = "http://localhost:3030" }
run = "bun src/index.ts"

[tasks."splatterboard:dev"]
dir = "apps/splatterboard"
run = "bun run dev"

[tasks."db:push:prod"]
env = { _.file = ".env", DATABASE_URL = "./sqlite/prod.db" }
run = "bunx drizzle-kit push"

[tasks."ts:check:all"]
# Run all ts:check tasks across the monorepo using wildcard pattern
# also lint just so there's one easy command to run
run = ["mise run '//packages/...:ts:check'", "mise run '//apps/...:ts:check'", 'mise run lint:all']

[tasks."lint:all"]
run = ["mise run '//packages/...:lint'", "mise run '//apps/...:lint'"]

[tasks."test:all"]
# Run all test tasks across the monorepo using wildcard pattern
run = ["mise run '//packages/...:test' > /dev/null", "mise run '//apps/...:test' > /dev/null"]

[tasks."test:all:with-output"]
# Run all test tasks across the monorepo using wildcard pattern
run = ["mise run '//packages/...:test'", "mise run '//apps/...:test'"]

[tasks."validate:all"]
run = ["mise run lint:all", "mise run ts:check:all", "mise run test:all"]

[tasks."docs:typedoc"]
run = """
bun x typedoc \
  --tsconfig packages/core/tsconfig.typedoc.json \
  --entryPoints packages/core/src/index.ts \
  --out docs/.vuepress/public/api
"""

[tasks."docs:dev"]
dir = "apps/docs-site"
run = "bun run dev"

[tasks."docs:build"]
depends = ["docs:typedoc"]
dir = "apps/docs-site"
run = "bun run build"

[tasks."splat:build"]
run = "mise run //apps/splatterboard:build"

[tasks."splat:deploy"]
run = "mise run //apps/splatterboard:deploy"
