.ds-toolbar {
  display: flex;
  gap: var(--ds-toolbar-gap, 0);
  padding: var(--ds-toolbar-padding, var(--size-2));
  background: var(--ds-toolbar-bg, var(--gray-1));
  border: none;
}

.ds-toolbar[hidden] {
  display: none;
}

.ds-toolbar[data-orientation="vertical"] {
  flex-direction: column;
}
