name: Tests and Checks

on: [push]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.10"
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Generate Prisma Client
        run: cd apps/server && bunx prisma generate
      - name: Typecheck
        run: bun run ts:check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.10"
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Linting
        run: bun run lint

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: prisma
          POSTGRES_PASSWORD: prisma
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.10"
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Generate Prisma Client
        run: cd apps/server && bunx prisma generate
      - name: Run migrations
        run: cd apps/server && bunx prisma migrate deploy
        env:
          DATABASE_URL: postgresql://prisma:prisma@localhost:5432/postgres
      - name: Test
        run: bun run test
        env:
          DATABASE_URL: postgresql://prisma:prisma@localhost:5432/postgres
